{% extends "patients/base.twig" %}
{% import "macros.twig" as m %}

{% block patientsActiveid %}
    font-bold text-red-500
{% endblock %}

{% block section %}
    <div class="mt-2">&nbsp;</div>
    {{ m.header("Certificate List", [
        {link: "/patients/"~patient.id~"/certificates/create", label: "Create New Certificate"}
    ]) }}
    <table id="certificatesTable" class="w-full">
        <thead>
        <tr>
            <th class="dt-left">Date</th>
            <th>Doctor</th>
            <th width="1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for certificate in certificates %}
            <tr>
                <td class="dt-body-left">{{ certificate.created }}</td>
                <td>{{ certificate.doctor_name }}</td>
                <td class="flex flex-row gap-4">
                    <a href="/var/certificates/{{ certificate.id }}.png" target="_blank"
                       class="hover:text-red-500">View</a>
                    <a href="/patients/{{ patient.id }}/certificates/{{ certificate.id }}/delete"
                       class="hover:text-red-500">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-2">&nbsp;</div>
    {{ m.header("Report List", [
        {link: "/patients/"~patient.id~"/reports/create", label: "Create New Report"}
    ]) }}
    <table id="reportsTable" class="w-full">
        <thead>
        <tr>
            <th class="dt-left">Date</th>
            <th>Doctor</th>
            <th>Nurse</th>
            <th width="1%"></th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td class="dt-body-left">{{ report.created }}</td>
                <td>{{ report.doctor_name }}</td>
                <td>{{ report.nurse_name }}</td>
                <td class="flex flex-row gap-4">
                    <a href="/var/reports/{{ report.id }}.png" target="_blank"
                       class="hover:text-red-500">View</a>
                    <a href="/patients/{{ patient.id }}/reports/{{ report.id }}/delete"
                       class="hover:text-red-500">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script src="/static/datatables.min.js"></script>
    <script>
      (() => {
        new DataTable('#certificatesTable', {
          searching: false,
          info: false,
          paging: false,
        });
        new DataTable('#reportsTable', {
          searching: false,
          info: false,
          paging: false,
        });
      })();
    </script>
{% endblock %}